### Git ###
.git
.github

### IntelliJ ###
.idea
*.iml


### Generated ###
/target/
/data/
/log/
/frontend/build/
/src/main/resources/static/

### Properties ###
/src/main/resources/static/mail.properties

### NodeJS ###
/frontend/node_modules/

### Temp ###
/temp/
