@import '../../../resources/colors';

#CarsOverviewPage {
    .CarsGrid {
        padding-top: 20px;

        .CarCard {
            min-width: 280px;
        }
    }

    .ErrorPanel, .LoadingPanel {
        left: calc(50% + 128px);
    }

    .CreateCarButton {
        bottom:   20px;
        color:    $white;
        left:     auto;
        margin:   0;
        position: fixed;
        right:    20px;
        top:      auto;
    }
}
