#InterventionsOverviewPage {
    padding: 32px 32px 32px 32px;

    .ErrorPanel, .LoadingPanel {
        left:      unset;
        margin:    unset;
        position:  unset;
        top:       unset;
        transform: unset;
    }

    .FilterPanel, .SortPanel {
        border-radius: 4px;

        .Header {
            cursor:     default;
            min-height: 52px;

            .ClearButton {
                position: absolute;
                right:    8px;
                top:      12px;
            }

            .FilterPanelTitle {
                left:     24px;
                position: absolute;
                top:      12px;
            }

            .RadioGroup {
                position: absolute;
                right:    24px;
                top:      15px;
            }
        }
    }

    .StaticColumn {
        min-width: 210px;
        position:  fixed;
        width:     calc(33% - 128px);
    }
}
