@import '../../colors';

#DefaultCarPicture {
    .Background {
        fill: $default-car-picture-background-color;
    }

    .Outline, .Windshield, .Headlight, .Smile {
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
    }

    .Outline, .Smile {
        fill: none;
        stroke: $default-car-picture-stroke-color;
    }

    .Windshield, .Headlight {
        fill: $white;
        stroke: $default-car-picture-stroke-color;
    }
}
