@import '../../../resources/colors';

#ErrorPanel {
    left:         50%;
    margin-right: -50%;
    padding:      24px 48px;
    position:     absolute;
    top:          50%;
    transform:    translate(-50%, -50%);

    &.transparent {
        background: $transparent;
        box-shadow: none;
    }

    .Grid {
        &-IconItem {
            &-Icon {
                color:  $error-color;
                height: 80px;
                width:  80px;
            }
        }

        &-LabelItem {
            &-Label {
                color:               $error-dark-color;
                padding-top:         12px;
                -moz-user-select:    none;
                -webkit-user-select: none;
            }
        }
    }
}
