@import '../../resources/colors';

#NotFoundPage {
    color:          $primary-color;
    left:           calc(50% - 224px);
    overflow:       hidden;
    pointer-events: none;
    position:       absolute;
    text-align:     center;
    top:            10%;

    .Label {
        font-weight: normal;
        line-height: 1.25;
    }

    .SmileyIcon {
        animation: pendulum infinite 3s ease-in-out 1s both;
        font-size: 512px;
    }
}

@keyframes pendulum {
    0% {
        transform: rotate(0deg);
    }
    21% {
        transform: rotate(30deg);
    }
    49% {
        transform: rotate(-30deg);
    }
    70% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
