@import '../../../resources/colors';

#Breadcrumbs {
    .HomeLink {
        color: $primary-color;
    }

    .Link {
        color: $gray;

        &:hover {
            text-decoration: none;
        }
    }
}
