// Transparent
$transparent: #ffffff00;                                    // transparent

// Grey colors
$white: #ffffff;                                            // white
$gray-light: #e3e3e3;                                       // grayLight
$gray: #757575;                                             // gray
$gray-dark: #333333;                                        // grayDark
$black: #000000;                                            // black

// Primary colors
$primary-light-color: #2196f3;                              // primaryLightColor
$primary-color: #1976d2;                                    // primaryColor
$primary-dark-color: #0d47a1;                               // primaryDarkColor

// Secondary colors
$secondary-light-color: #ff9800;                            // secondaryLightColor
$secondary-color: #f57c00;                                  // secondaryColor
$secondary-dark-color: #e65100;                             // secondaryDarkColor

// Info colors
$info-light-color: #2196f3;                                 // infoLightColor
$info-color: #1976d2;                                       // infoColor
$info-dark-color: #0d47a1;                                  // infoDarkColor

// Success colors
$success-light-color: #4caf50;                              // successLightColor
$success-color: #388e3c;                                    // successColor
$success-dark-color: #1b5e20;                               // successDarkColor

// Warning colors
$warning-light-color: #ffeb3b;                              // warningLightColor
$warning-color: #fbc02d;                                    // warningColor
$warning-dark-color: #f57f17;                               // warningDarkColor

// Error colors
$error-light-color: #f44336;                                // errorLightColor
$error-color: #d32f2f;                                      // errorColor
$error-dark-color: #b71c1c;                                 // errorDarkColor

// Background colors
$background-light-color: #ffffff;                           // backgroundLightColor
$background-color: #e3e3e3;                                 // backgroundColor
$background-dark-color: #757575;                            // backgroundDarkColor

// Default car picture colors
$default-car-picture-background-color: #7bbee0;             // defaultCarPictureBackgroundColor
$default-car-picture-stroke-color: #0d47a1;                 // defaultCarPictureStrokeColor
