// Transparent
$transparent: #ffffff00;

// Grey colors
$white: #ffffff;
$gray-light: #e3e3e3;
$gray: #757575;
$gray-dark: #333333;
$black: #000000;

// Primary colors
$primary-light-color: #2196f3;
$primary-color: #1976d2;
$primary-dark-color: #0d47a1;

// Secondary colors
$secondary-light-color: #ff9800;
$secondary-color: #f57c00;
$secondary-dark-color: #e65100;

// Info colors
$info-light-color: #2196f3;
$info-color: #1976d2;
$info-dark-color: #0d47a1;

// Success colors
$success-light-color: #4caf50;
$success-color: #388e3c;
$success-dark-color: #1b5e20;

// Warning colors
$warning-light-color: #ffeb3b;
$warning-color: #fbc02d;
$warning-dark-color: #f57f17;

// Error colors
$error-light-color: #f44336;
$error-color: #d32f2f;
$error-dark-color: #b71c1c;

// Background colors
$background-light-color: #ffffff;
$background-color: #e3e3e3;
$background-dark-color: #757575;

// Logo colors
$logo-upper-letters-color: #f02020;
$logo-lower-letters-color: #fcee21;

// Default car picture colors
$default-car-picture-background-color: #7bbee0;
$default-car-picture-stroke-color: #0d47a1;
