@import './resources/colors';

// Makes the application take exactly the size of the screen (no overflow)
main {
    height: 100vh;
    display: flex;
}

// Translates the page next to the menu bar and under the app bar
.Page {
    background-color: $background-color;
    margin-top: 60px;
    margin-left: 256px;
}

// Makes an element impossible to select
.non-selectable {
    -webkit-user-select: none;
    -moz-user-select: none;
}

// Hides the scrollbar
.simplebar-track {
    visibility: hidden !important;
}
