// Makes the application take exactly the size of the screen (no overflow) with a minimum size (1024*768 pixels)
main {
    display:    flex;
    height:     100vh;
    min-height: 768px;
    min-width:  1024px;
}

// Makes an element impossible to select
.non-selectable {
    -moz-user-select:    none;
    -webkit-user-select: none;
}

// Hides the scrollbar
.simplebar-track {
    visibility: hidden !important;
}
