@import './resources/colors';

// Makes the application take exactly the size of the screen (no overflow)
main {
    display: flex;
    height:  100vh;
}

// Translates the page next to the menu bar and under the app bar, and apply the background color
.Page {
    background-color: $background-color;
    margin-left:      256px;
    margin-top:       60px;
}

// Makes an element impossible to select
.non-selectable {
    -moz-user-select:    none;
    -webkit-user-select: none;
}

// Hides the scrollbar
.simplebar-track {
    visibility: hidden !important;
}
