@import '../../../resources/colors';

#Menu {
    & > :first-child {
        background: linear-gradient(60deg, $gray 15%, $gray-dark 75%);
        overflow:   hidden;
        width:      256px;
    }

    .Icon {
        color:       $white;
        margin-left: 24px;
    }

    .Label {
        color: $white;
    }

    .Logo {
        padding: 64px 16px;
    }
}
