@import '../../../resources/colors';

#Menu {
    & > :first-child {
        background: linear-gradient(60deg, $gray 15%, $gray-dark 75%);
        overflow:   hidden;
        width:      256px;
    }

    .Footer {
        bottom:     12px;
        color:      $white;
        position:   absolute;
        text-align: center;
        width:      100%;
    }

    .Icon {
        color:       $white;
        margin-left: 24px;
    }

    .Label {
        color: $white;
    }

    .Logo {
        padding: 64px 16px;
    }
}
