#InterventionsOverviewPage {
    .InterventionsOverviewPage {
        &_ErrorPanel, &_LoadingPanel {
            left: calc(50% + 128px);
        }

        &_InterventionsPanel {
            &_Content {
                &_InterventionPreview {
                    box-shadow: none;
                }

                &_NoInterventionsLabel {
                    margin-bottom: 12px;
                    width:         100%;
                }
            }

            &_Summary {
                cursor:     default;
                min-height: 52px;

                &_Label {
                    left:     24px;
                    position: absolute;
                    top:      12px;
                }
            }
        }

        &_StaticColumn {
            min-width: 210px;
            position:  fixed;
            width:     calc(33% - 128px);

            &_OverviewPanel {
                border-radius: 4px;

                &_Content {
                    &_Table {
                        &_Row {
                            &:last-child > * {
                                border-bottom: none;
                            }

                            &_Value {
                                align-self: center;
                                width:      50px;

                                &_Chip {
                                    align-self: center;
                                    width:      50px;
                                }
                            }
                        }
                    }
                }

                &_Summary {
                    cursor:     default;
                    min-height: 52px;
                }
            }

            &_FilterPanel {
                border-radius: 4px;

                &_Content {
                    &_Table {
                        &_Row {
                            &:last-child > * {
                                border-bottom: none;
                            }

                            &_Value {
                                padding-left: 8px;

                                &_Field {
                                    width: 100px;

                                    & > * > * {
                                        padding-bottom: 8px;
                                        padding-top:    8px;
                                    }
                                }
                            }
                        }
                    }
                }

                &_Summary {
                    cursor:     default;
                    min-height: 52px;
                }
            }
        }
    }
}
