@import '../../../resources/colors';

#OperationLineForm {
    padding: 0;

    .OperationLineForm {
        &_Summary {
            background:     $transparent;
            pointer-events: none;

            &_DeleteButton {
                color:          $error-color;
                margin:         7px 12px 7px 0;
                pointer-events: initial;
            }

            &_Description, &_Type {
                align-self:     center;
                color:          $gray-dark;
                pointer-events: initial;
                width:          calc(100% - 20px);
            }

            &_DoneFlag {
                margin:         7px 0 7px 24px;
                pointer-events: initial;

                & > span {
                    align-self: center;
                }

                &_CheckedIcon {
                    color: $secondary-color;
                }

                &_UncheckedIcon {
                    color: $primary-color;
                }
            }
        }
    }
}
