@import '../../../resources/colors';

#MenuBar {
    & > :first-child {
        background: linear-gradient(60deg, $primary-light-color 15%, $primary-dark-color 75%);
        overflow: hidden;
        width: 256px;
    }

    & .Logo {
        padding: 64px 16px;
    }

    & .MenuList {
        &-MenuItem {
            &-Icon {
                color: $white;
                margin-left: 24px;
            }

            &-Label {
                color: $white;
            }
        }
    }

    & .Footer {
        bottom: 12px;
        color: $white;
        position: absolute;
        text-align: center;
        width: 100%;
    }
}
